In [12]:
import  pandas as  pd
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
url=r"c:\Users\sangu\Downloads\data (2).csv"
df=pd.read_csv(url)
df

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

# Display dataset info
print(df.describe())

In [14]:
df.head

<bound method NDFrame.head of               CountryName CountryCode  BirthRate  InternetUsers  \
0                   Aruba         ABW     10.244           78.9
1             Afghanistan         AFG     35.253            5.9
2                  Angola         AGO     45.985           19.1
3                 Albania         ALB     12.877           57.2
4    United Arab Emirates         ARE     11.044           88.0
..                    ...         ...        ...            ...
190           Yemen, Rep.         YEM     32.947           20.0
191          South Africa         ZAF     20.850           46.5
192      Congo, Dem. Rep.         COD     42.394            2.2
193                Zambia         ZMB     40.471           15.4
194              Zimbabwe         ZWE     35.715           18.5

             IncomeGroup
0            High income
1             Low income
2    Upper middle income
3    Upper middle income
4            High income
..                   ...
190  Lower middle income
191  Upper middle income
192           Low income
193  Lower middle income
194           Low income

[195 rows x 5 columns]>

In [15]:

# Missing Values Check
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 CountryName      0
CountryCode      0
BirthRate        0
InternetUsers    0
IncomeGroup      0
dtype: int64

In [16]:

import ollama

def generate_insights(df_summary):
    prompt = f"Analyze the dataset summary and provide insights:\n\n{df_summary}"
    response = ollama.chat(model="mistral", messages=[{"role": "user", "content": prompt}])
    return response['message']['content']

# Generate AI Insights
summary = df.describe().to_string()
insights = generate_insights(summary)
print("\n🔹 AI-Generated Insights:\n", insights)

🔹 AI-Generated Insights:
 1. Summary: This dataset contains 195 observations (rows) with two variables: BirthRate and InternetUsers. The summary statistics for each variable are as follows:

    - BirthRate:
        - Count: 195 (all values are present)
        - Mean: 21.4699 (on average, there were 21.47 births per region)
        - Standard Deviation: 10.6055 (indicates the dispersion of the data from the mean)
        - Minimum: 7.9 (the lowest number of births in a region was 7.9)
        - Median: 19.68 (half the regions had a number of births less than or equal to this value, and half had more)
        - 25th Percentile: 12.12 (25% of the regions had a number of births less than or equal to this value)
        - 75th Percentile: 29.76 (75% of the regions had a number of births less than or equal to this value)
        - Maximum: 49.66 (the highest number of births in a region was 49.66)
    - InternetUsers:
        - Count: 195 (all values are present)
        - Mean: 42.08 (on average, there were 42.08 internet users per region)
        - Standard Deviation: 29.03 (indicates the dispersion of the data from the mean)
        - Minimum: 0.9 (the lowest number of internet users in a region was 0.9)
        - Median: 41.00 (half the regions had a number of internet users less than or equal to this value, and half had more)
        - 25th Percentile: 14.52 (25% of the regions had a number of internet users less than or equal to this value)
        - 75th Percentile: 66.23 (75% of the regions had a number of internet users less than or equal to this value)
        - Maximum: 96.55 (the highest number of internet users in a region was 96.55)

2. Insights:
   - The BirthRate varies significantly across regions, with a range of approximately 41.76 births (from 7.9 to 49.66). This suggests that some regions may have different demographic characteristics or policies affecting birth rates.
   - The InternetUsers variable also shows considerable variation, ranging from 0.9 to 96.55. It is unclear whether this represents a percentage of the total population or the actual number of internet users in each region. However, it suggests that there are significant differences in internet penetration across these regions as well.
   - Both variables have skewed distributions, as indicated by their interquartile ranges and standard deviations being relatively high compared to the medians. This means that a few outlier values may have a disproportionate impact on the mean and standard deviation calculations.
   - It might be interesting to investigate possible correlations between these two variables (e.g., do regions with higher birth rates also have more internet users?). Additionally, other factors such as income level, education level, or urbanization could play a role in both birth rates and internet penetration, making them useful variables for further analysis.

In [17]:
import gradio as gr

def eda_analysis(file):
    df = pd.read_csv(file.name)
    summary = df.describe().to_string()
    insights = generate_insights(summary)
    return insights

# Create Web Interface
demo = gr.Interface(fn=eda_analysis, inputs="file", outputs="text", title="AI-Powered EDA with Mistral")

# Launch App
demo.launch(share=True)  # Use share=True for Google Colab

* Running on local URL:  http://127.0.0.1:7862
* Running on public URL: https://0d58b13a5e759fa175.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)